# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# ML/Data
checkpoints/
checkpoints_test/
data/
storage/
*.json
*.txt
*.zip
*.ipynb_checkpoints

# IDE
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini
